[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-ckeditor = "*"
django-ckeditor-5 = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
markdown = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
